@import "../../styles/variables.scss";

.button {
  height: 40px;
  width: 250px;
  min-width: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #0000ff;
  background-color: #000000;
  //background-color: $primary;
  color: #1111ff;
  padding: 0 16px;

  &:hover,
  &.outline {
    color: #0080ff;
    //background-color: transparent;
    font-size: 19px;
    //border: 1px solid $primary;
    border: 3px solid #0000ff;
  }

  &.error {
    color: $color-white;
    background-color: $error;
    border: 1px solid $error;

    &:hover {
      color: $error;
      background-color: transparent;
      border: 1px solid $error;
    }
  }

  &.full-size {
    width: 100%;
  }
}
