@import "../../styles/variables.scss";

.button {
  height: 50px;
  width: 250px;
  min-width: 50px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  background-color: #1a1aff;
  //background-color: $primary;
  color: #fff;
  padding: 0 16px;

  &:hover,
  &.outline {
    color: $primary;
    background-color: transparent;
    border: 1px solid $primary;
  }

  &.error {
    color: $color-white;
    background-color: $error;
    border: 1px solid $error;

    &:hover {
      color: $error;
      background-color: transparent;
      border: 1px solid $error;
    }
  }

  &.full-size {
    width: 100%;
  }
}
