.card-section {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  padding: 24px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 16px;
  margin-top: 20px;
  height: 100%;

  .card-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    strong {
      font-size: 14px;
    }

    .actions {
      display: flex;
      gap: 8px;
    }
  }
}
