<div class="voltar">
  <div class="img_voltar">
    <img src="../../../../assets/images/icones/reply-blue.svg" alt="" />
  </div>
  <div class="container_texto_voltar">
    <li class="link_voltar">
      <a [routerLink]="['/home/login']"><h5 class="texto_voltar">VOLTAR</h5></a>
    </li>
  </div>
</div>

<section class="forgot">
  <article class="header">
    <p class="welcome">
      <mat-icon
        class="animated-icon"
        color="primary"
        style="vertical-align: middle; margin-right: 8px;"
      >
        help_outline
      </mat-icon>
      Esqueceu sua senha?
    </p>
    <p class="description">
      Digite seu e-mail para que possamos enviar um código de verificação:
    </p>
  </article>

  <form class="form" [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
    <mat-form-field appearance="fill">
      <mat-label class="font">E-mail</mat-label>
      <mat-icon matPrefix color="primary">email</mat-icon>
      <input type="text" matInput formControlName="email" required />
    </mat-form-field>

  </form>
  <app-button
    [fullSize]="true"
    (click)="forgotPassword()"
    [disabled]="forgotForm.invalid"
  >

    Continuar
  </app-button>
  <app-loading-effect></app-loading-effect>
  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  <p *ngIf="successMessage">{{ successMessage }}</p>
</section>
