<div class="modal-container">
  <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
    <div class="row col">
      <app-card-section>
        <!-- Dados do administrador -->
        <div class="row items-center">
          <div class="row col gap-8 w-full">
            <h3>Dados do administrador</h3>
            <mat-form-field class="w-full">
              <mat-label>Nome do administrador</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <input id="name" formControlName="name" type="text" matInput autocomplete="name" />
            </mat-form-field>
            <mat-form-field class="field-image" appearance="outline">
              <mat-label>URL da Imagem</mat-label>
              <mat-icon matPrefix>image</mat-icon>
              <input matInput formControlName="imageUrl" type="text" />
            </mat-form-field>
          </div>
        </div>

        <!-- Outros dados do administrador -->
        <div class="row">
          <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <mat-icon matPrefix>email</mat-icon>
            <input id="email" formControlName="email" type="text" matInput autocomplete="email" />
          </mat-form-field>
        </div>

        <div class="row">

          <mat-form-field class="w-full">
            <mat-label>Status</mat-label>
            <mat-icon matPrefix>info</mat-icon>
            <mat-select formControlName="status">
              <mat-option value="ativo">Ativo</mat-option>
              <mat-option value="inativo">Inativo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </app-card-section>

      <button class="save_button" type="submit">Salvar</button>
    </div>
  </form>
</div>
