.breadcrumb-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: -30px;

  .title-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;

    ::ng-deep mat-icon{
      cursor: pointer;
      min-width: 24px;
    }

    .title{
      font-size: 22px;
      color: #000000;
      font-weight: bold;
      //opacity: 0.50;
    }
  }

  > .subtitle{
    font-size: 32px;
    color:#000;
  }
}
