<section class="home">
  <!--<div class="side-image">
    <img
      [src]="(image$ | async)"
      alt="Login"
    />
  </div>-->
  <div class="field-description">
    <!--<div class="cadastro">
      <h4>Você é cliente ?</h4>
      <li class="link_cadastro">
        <a
          ><button [routerLink]="['../account']" class="register_button">
            Cadastre-se
          </button></a
        >
      </li>
    </div>-->

    <div class="pedido">
      <h2 class="select-role">Ver status do pedido</h2>
      <mat-form-field>
        <mat-icon class="custom-select" matPrefix>key</mat-icon>
        <input
          matInput
          [formControl]="searchText"
          placeholder="Digite o teu nome . . ."
        />
      </mat-form-field>

      <!-- Exibir notificações filtradas -->
      <div *ngIf="filteredNotifications | async as notifications">
        <div *ngIf="notifications.length > 0">
          <div
            class="notification-container"
            *ngFor="let notification of notifications"
          >
            <mat-card class="notification-card" [ngClass]="notification.status">
              <mat-card-header>
                <mat-card-title>
                  {{ notification.name }}

                  <div
                    class="status-badge"
                    [ngClass]="{
                      novo: notification.status === 'novo',
                      pendente: notification.status === 'pendente',
                      servido: notification.status === 'servido',
                      andando: notification.status === 'andando',
                      cancelado: notification.status === 'cancelado'
                    }"
                  >
                    <mat-icon
                      class="fiber_new"
                      *ngIf="notification.status === 'novo'"
                    >
                      fiber_new
                    </mat-icon>
                    <mat-icon
                      class="error"
                      *ngIf="notification.status === 'pendente'"
                    >
                      error
                    </mat-icon>
                    <mat-icon
                      class="check_circle"
                      *ngIf="notification.status === 'servido'"
                    >
                      check_circle
                    </mat-icon>
                    <mat-icon
                      class="loading-icon"
                      *ngIf="notification.status === 'andando'"
                    >
                      loop
                    </mat-icon>
                    <mat-icon
                      class="cancel"
                      *ngIf="notification.status === 'cancelado'"
                    >
                      cancel
                    </mat-icon>
                    {{ notification.status }}
                  </div>
                </mat-card-title>
                <mat-card-subtitle>
                  Status: {{ notification.status }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>Pedido: {{ notification.service }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="container-show-chaveiros">
        <button class="button-chaveiros" (click)="toggleChaveiros()">
          <span class="text-chaveiros-disponiveis"
            >Ver chaveiros disponíveis</span
          >
        </button>

        <div *ngIf="mostrarChaveiros" class="container-caixa">
          <!--<button class="ocultar-button" (click)="toggleChaveiros()">
            <mat-icon>visibility</mat-icon>
          </button>-->
          <div class="chaveiro-card" *ngFor="let chaveiro of chaveirosVisiveis">
            <div
              class="chaveiro-status"
              [ngClass]="{
                'status-ativo': chaveiro.status === 'ativo',
                'status-inativo': chaveiro.status === 'inativo'
              }"
            >
              <span
                class="status-icon"
                [ngClass]="{
                  'ativo-icon': chaveiro.status === 'ativo',
                  'inativo-icon': chaveiro.status === 'inativo'
                }"
                >{{ chaveiro.status === "ativo" ? "." : "x" }}</span
              >
            </div>
            <img
              [src]="chaveiro.imageUrl"
              [alt]="chaveiro.name"
              [alt]="chaveiro.phone"
              [class.blurred]="chaveiro.status === 'inativo'"
            />
            <div class="chaveiro-info">
              <h3>{{ chaveiro.name }}</h3>
              <h3>{{ chaveiro.phone }}</h3>
            </div>
          </div>

          <button
            *ngIf="chaveirosVisiveis.length < chaveiros.length"
            class="exibir-mais-button"
            (click)="exibirMais()"
          >
            Carregar mais ...
          </button>
        </div>
      </div>
    </div>

    <div class="pedido">
      <h2 class="select-role">Faça o seu pedido . . .</h2>
      <mat-form-field appearance="fill">
        <mat-icon class="custom-select" matPrefix>key</mat-icon>
        <mat-select
          [(ngModel)]="selectedService"
          multiple
          (selectionChange)="onServiceChange($event)"
        >
          <mat-option *ngFor="let service of services" [value]="service">
            {{ service }}
          </mat-option>
        </mat-select>
        <mat-label>{{ selectedService }}</mat-label>
      </mat-form-field>
    </div>
  </div>
  <div class="home-components">
    <div class="content">
      <img src="assets/images/keys_logo_2.png" width="150" />
      <p class="container-logomarca">
        <span class="logo_marca">KEY +</span><br />
        <span class="dynamic_text">{{ displayedText }}</span>
      </p>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
