@import "../../modules/shared/styles/shared.scss";

.home {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  background-color: $color-black;
  color: #59a0fc;
  height: 166vh;
  overflow: hidden;

  @media (max-width: $--mq-desktop) {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  @media (max-width: $--mq-tablet) {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  @media (max-width: $--mq-phone) {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .field-description {
    top: 20px;
    width: 93%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    margin-left: 20px;
  }

  .your-key-icone {
    color: white;
    font-size: 25px;
    padding-top: 5px;
    margin-right: 6px;
  }

  .pedido {
    width: 270px;
  }

  .select-role {
    margin-bottom: 12px;
    color: #c2c2c2;
    font-family: "Times New Roman", Times, serif;
  }

  .custom-select {
    margin-left: 5px;
    padding: 10px 10px;
    color: #2a95f9;
    border-radius: 50%;
    background-color: #000000;
  }

  .custom-snackbar {
    background-color: hsl(233, 100%, 50%);
    color: #fff;
  }

  .home-components {
    display: grid;
    padding: 0 32px;
    justify-items: center;
    grid-template-rows: 1fr auto;
    height: 100%;

    .content img {
      margin-top: 40px;
      margin-bottom: -20px;
    }

    .content {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 36px;

      ::ng-deep app-signin {
        width: 100%;
        margin-bottom: 12px;
      }

      ::ng-deep app-forgot-password {
        width: 100%;
        margin-bottom: 12px;
      }

      ::ng-deep app-reset-password {
        width: 100%;
        margin-bottom: 12px;
      }

      .container-logomarca {
        margin-left: -40px;
        margin-bottom: 15px;

        .dynamic_text {
          font-size: 24px;
          margin-top: 10px;
          margin-left: -120px;
          position: absolute;
        }
      }

      .logo_marca {
        font-size: x-large;
        margin-left: 70px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
      }
    }

    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
      list-style-type: none;
      text-align: center;
      margin-bottom: 16px;
    }
  }

  .side-image {
    height: 116vh;
    background-color: gray;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .button-chaveiros {
    width: 272px;
    height: 32px;
    background: transparent;
    border: 2px solid blue;
    color: white;
    border-radius: 3px;
  }

  .button-chaveiros:hover {
    border: 2px solid white;
    transition: 0.4s;
    color: blue;
    cursor: pointer;
  }

  .cadastro {
    margin-top: 15px;
  }

  .cadastro h4 {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .register_button {
    width: 260px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    background-color: #000000;
    border: 3px solid #86f9f0;
  }

  .register_button:hover {
    border: 3px solid #001eff;
    cursor: pointer;
    transition: 0.2s;
  }

  .link_cadastro {
    list-style: none;
  }

  .select-role {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 20px;

    input {
      font-size: 1rem;
    }
  }

  .notification-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .loading-icon {
    animation: rotation 1.5s infinite linear;
    color: #ffff00;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .status-badge {
    display: flex;
    align-items: center;
    padding: 1px 4px;
    border-radius: 4px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    color: white;
    gap: 3px;
    height: fit-content;
    width: fit-content;
    font-size: 0.85rem;
  }

  .fiber_new {
    margin: 0 auto;
    animation: infiniteZoom 0.5s infinite;
  }

  @keyframes infiniteZoom {
    70% {
      transform: scale(1);
    }
    70% {
      transform: scale(1.17);
    }
  }

  .error {
    animation: infiniteZoom 0.5s infinite;
  }

  .status-badge.novo {
    background-color: #edb116;
    border: 1px solid black;
    color: black;
  }

  .status-badge.pendente {
    background-color: #eedf22;
    border: 1px solid black;
    color: black;
  }

  .status-badge.servido {
    background-color: #0fce22;
    border: 1px solid black;
    color: black;
  }

  .status-badge.cancelado {
    background-color: #ea1e0d;
    border: 1px solid black;
    color: black;
  }

  .status-badge.andando {
    background-color: #005b88;
    border: 1px solid black;
    color: black;
  }

  .container-show-chaveiros {
    display: flex;
    flex-direction: column; /* Posiciona os elementos verticalmente */
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-top: 20px;
  }

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  .button-chaveiros {
    padding: 10px 20px;
    background-color: none;
    color: white;
    border: 1px solid blue;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .text-chaveiros-disponiveis {
    bottom: 7px;
    position: relative;
  }

  .button-chaveiros:hover {
    border: 1px solid white;
  }

  .container-caixa {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    border: 1px solid #150adf;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    justify-content: center;
    max-height: 400px; /* Limita a altura */
    overflow-y: auto; /* Habilita rolagem vertical */
    margin-top: 20px; /* Espaço entre o botão e a caixa */
  }

  .container-caixa::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .container-caixa {
    scrollbar-width: none; /* Oculta a barra no Firefox */
  }

  .chaveiro-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    width: 180px;
    position: relative;
    background-color: blue;
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .chaveiro-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .exibir-mais-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: lighter;
    border: 2px solid blue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 180px;
  }

  .exibir-mais-button:hover {
    border: 1px solid white;
    color: blue;
    transition: 0.4s;
  }

  .chaveiro-status {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .status-icon {
    font-size: 18px;
    color: white;
  }

  .ativo-icon {
    margin-top: -35px;
    font-size: 60px;
    color: #4caf50;
    text-shadow: 0 0 10px #44ea49, 0 0 20px #44ea49, 0 0 30px #44ea49;
  }

  .inativo-icon {
    color: #ff1744;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .blurred {
    filter: blur(3px);
  }

  .chaveiro-info h3 {
    font-size: 16px;
    text-align: center;
    font-weight: lighter;
    color: white;
    margin: 0;
  }

  .notification-card {
    width: 100%;
    max-width: 600px;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #ffffff, #f0f0f5);

    mat-card-header {
      background-color: #3f51b5;
      color: white;
      font-family: "Times New Roman", Times, serif;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      mat-card-title {
        margin-top: -10px;
        font-size: 1.2rem;
        font-weight: bold;
      }

      mat-card-subtitle {
        font-size: 1rem;
        font-weight: bold;
        color: black;
        font-style: italic;
      }
    }

    mat-card-content {
      font-size: 1rem;
      font-weight: bold;
      font-style: italic;
      padding-top: 8px;
      color: #000000;
    }
  }


  /**** toggle ****/

  .toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-start; /* Alinha o toggle à esquerda */
  }

  .toggle-label {
    margin-left: 10px;
  }

  /* Estilos do toggle (sem alterações importantes, mas incluo para referência) */
  .switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 6px;
    bottom: 0.40px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  // Media query para telas menores
  @media (max-width: $--mq-desktop) {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    .field-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      padding: 20px;
      margin: 0 auto;
      top: 10%;
    }

    .pedido {
      width: 100%;
      max-width: 300px;
      margin-top: -40px;
    }

    .home-components {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .content {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 36px;

        img {
          margin-top: 40px;
          margin-bottom: -20px;
          width: 170px;
        }

        .container-logomarca {
          margin-left: 0;
          margin-bottom: 15px;
          text-align: center;

          .dynamic_text {
            font-size: 24px;
            margin-top: 10px;
            margin-left: 40px;
            position: relative;
          }

          .logo_marca {
            font-size: x-large;
            font-weight: bold;
            font-family: "Times New Roman", Times, serif;
          }
        }
      }
    }

    .cadastro {
      text-align: center;
      margin-right: 0;

      h4 {
        font-size: 25px;
      }

      .register_button {
        width: 290px;
        height: 35px;
        margin-bottom: 70px;
      }
    }
  }

  @media (max-width: $--mq-tablet) {
    .field-description {
      position: static;
      text-align: center;
    }

    .notification-container {
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }

    .pedido,
    .register_button {
      width: 100%;
    }

    .pedido {
      margin-top: 70px;
      margin-bottom: -60px;
    }

    .home-components img {
      width: 120px;
      margin-top: 40px;
    }
  }

  @media (max-width: $--mq-phone) {
    .field-description {
      top: auto;
    }

    .notification-container {
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }

    .pedido,
    .register_button {
      width: 100%;
    }

    .pedido {
      margin-top: 70px;
      margin-bottom: 100px;
    }

    .home-components img {
      margin-top: 40px;
      width: 120px;
    }
  }

  @media (max-width: 850px) {
    .pedido {
      margin-top: -60px;
      margin-bottom: 100px;
    }
  }

  @media (max-width: 890px) {
    .pedido {
      margin-top: -40px;
      margin-bottom: 100px;
    }
  }

  @media (max-width: 1200px) {
    .pedido {
      margin-top: 30px;
    }
  }

  @media (max-width: 576px) {
    .pedido {
      margin-top: 50px;
      margin-bottom: 10px;
    }

    .notification-container {
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }

    .container-logomarca {
      margin-top: 40px;
    }
  }
}
