<section class="home">
  <!--<div class="side-image">
    <img
      [src]="(image$ | async)"
      alt="Login"
    />
  </div>-->
  <div class="field-description">

    <div class="pedido">
      <h2 class="select-role">Faça o seu pedido . . .</h2>
      <mat-form-field appearance="fill">
        <mat-icon class="custom-select" matPrefix>key</mat-icon>
        <mat-select [(ngModel)]="selectedService" multiple (selectionChange)="onServiceChange($event)">
          <mat-option *ngFor="let service of services" [value]="service">
            {{ service }}
          </mat-option>
        </mat-select>
        <mat-label>{{ selectedService }}</mat-label>
      </mat-form-field>
    </div>

  </div>
  <div class="home-components">
    <div class="content">
      <img src="assets/images/keys_logo_2.png" width="170" />
      <p class="container-logomarca">
        <span class="logo_marca">KEY +</span><br>
        <span class="dynamic_text">{{ displayedText }}</span>
      </p>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
