<div class="toolbar">
  <img *ngIf="admin?.imageUrl" [src]="admin?.imageUrl" height="50" width="70">
  <div class="welcome">
    <small class="welcome small">Seja bem vindo!!</small>
    <p class="welcome">{{ admin?.name }}</p>
  </div>
  <mat-icon class="arrow_down" mat-button [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/home/login']">Sair</button>
  <button mat-menu-item [routerLink]="['/gerencial/admin-modal']">Editar perfil</button>
</mat-menu>
