.toolbar{
  gap: 12px;
  width: 300px;
  margin-right: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  border: 3px solid rgb(0, 0, 0);
  padding: 0px 20px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0) 0px 50px 100px -20px, rgba(0, 0, 0, 0.6) 0px 30px 60px -52px;

  img{
    border-radius: 50%;
    height: 65px;
  }

  .welcome {
    color: #000000;
    font-size: large;
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
  }

  .arrow_down {
    cursor: pointer;
  }

  .arrow_down:hover {
    color: #ffab2d;
  }

}
