.actions{
  display: flex;
  justify-content: flex-end;
  height: 50px;
  gap: 24px;
  margin-top: 50px;
}

.arrow_back {
  margin-left: -28px;
}

.field-name {
  width: 600px;
}

.field-image {
  width: 600px;
}

.field-email {
  width: 600px;
}

.field-password {
  width: 600px;
}
