<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="voltar">
    <div class="img_voltar">
      <img src="../../../../assets/images/icones/reply-blue.svg" alt="" />
    </div>
    <div class="container_texto_voltar">
      <li class="link_voltar">
        <a [routerLink]="['/home/login']"><h5 class="texto_voltar">VOLTAR</h5></a>
      </li>
    </div>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email" type="email" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" type="password" required />
    <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Papel</mat-label>
    <mat-select formControlName="role">
      <mat-option value="user">Usuário</mat-option>
      <mat-option value="admin">Administrador</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status" required>
      <mat-option value="ativo">Ativo</mat-option>
      <mat-option value="inativo">Inativo</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>URL da Imagem</mat-label>
    <input matInput formControlName="imageUrl" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Data de Nascimento</mat-label>
    <input matInput formControlName="birthDate" type="date" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>CPF</mat-label>
    <input matInput formControlName="cpf" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Telefone</mat-label>
    <input matInput formControlName="phone" required />
  </mat-form-field>

  <button
    mat-raised-button color="primary"
    type="submit"
  >
    Criar Conta
  </button>
</form>
