<div class="voltar">
  <div class="img_voltar">
    <img src="../../../../assets/images/icones/reply-blue.svg" alt="" />
  </div>
  <div class="container_texto_voltar">
    <li class="link_voltar">
      <a [routerLink]="['/home/login']"><h5 class="texto_voltar">VOLTAR</h5></a>
    </li>
  </div>
</div>

<section class="reset">
  <article class="header">
    <p class="welcome">Esqueceu sua senha?</p>
    <p class="description">
      Para cadastrar sua nova senha, insira o token que você recebeu por email:
    </p>
  </article>

  <form class="form" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <mat-form-field appearance="fill">
      <mat-label class="font">E-mail</mat-label>
      <mat-icon matPrefix color="primary">email</mat-icon>
      <input type="email" matInput formControlName="credential" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label class="font">Token</mat-label>
      <mat-icon matPrefix color="primary">vpn_key</mat-icon>
      <input type="text" matInput formControlName="code" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label class="font">Senha</mat-label>
      <mat-icon matPrefix color="primary">lock</mat-icon>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required />
      <mat-icon matSuffix (click)="hide = !hide">
        {{ hide ? "visibility_off" : "visibility" }}
      </mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label class="font">Confirmar Senha</mat-label>
      <mat-icon matPrefix color="primary">lock</mat-icon>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required />
      <mat-icon matSuffix (click)="hide = !hide">
        {{ hide ? "visibility_off" : "visibility" }}
      </mat-icon>
    </mat-form-field>
  </form>
  <app-button [fullSize]="true" (click)="resetPassword()" [disabled]="resetForm.invalid">CONFIRMAR</app-button>
  <app-loading-effect></app-loading-effect>
  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  <p *ngIf="successMessage">{{ successMessage }}</p>
</section>
