@import '../../shared/styles/shared.scss';

.texto_voltar {
  color: #508bcf;
  font-size: 20px;
  transition: transform 0.2s;
  margin-top: 6px;
  font-family: 'Times New Roman', Times, serif;
}

.voltar {
  display: inline-flex;
  gap: 10px;
  margin-bottom: 20px;
}

.img_voltar img {
  width: 30px;
}

.texto_voltar:hover {
  transform: scale(1.1);
}

.link_voltar {
  list-style: none;
  text-decoration: none;
}

.link_voltar a {
  text-decoration: none;
}

.font {
  color: #0000ff;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.reset{
  .header{
    display: flex;
    flex-flow: column;
    gap: 8px;
    margin-bottom: 24px;
    .welcome{
      font-size: calc($font-size + 10px);
      //color: $primary;
      color: #59a0fc;
    }

    .description{
      font-size: calc($font-size - 2px);
      color: #FFF;
    }
  }

  .form{
    font-size: $font-size;
    color: #2398cb;
    margin-bottom: 32px;
  }
}
