<div class="details">
  <!-- cliente-modal.component.html -->
  <div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="card-section">
        <div class="row items-center">
          <ng-container>
            <mat-icon class="edit_button" matTooltip="Editar" (click)="openEditModal()">edit</mat-icon>
          </ng-container>
          <ng-container>
            <mat-slide-toggle
              color="primary"
              matTooltip="Alterar status"
              [checked]="chaveiro?.status === 'ativo'"
              (change)="toggleChaveiroStatus()"
            >

            </mat-slide-toggle>
          </ng-container>
          <ng-container>
            <mat-icon matTooltip="Remover">delete_outline</mat-icon>
          </ng-container>
        </div>
      </div>
      <!--<button class="close-button" (click)="closeModal()">x</button>-->
      <img [src]="chaveiro?.imageUrl" alt="Chaveiro Image" class="modal-image" />
      <h2 class="nome_chaveiro">{{ chaveiro?.name }}</h2>
      <p><strong>Telefone do chaveiro:</strong> {{ chaveiro?.phone }}</p>
      <p><strong>Endereço do chaveiro:</strong> {{ chaveiro?.endereco }}</p>
      <p><strong>Status:</strong> {{ chaveiro?.status }}</p>

      <div class="buttons">
        <app-form-actions></app-form-actions>
      </div>

    </div>

  </div>
</div>
