<div class="details">
  <app-card-section text="Dados" [useToggle]="true">
    <div class="row">
      <img src="assets/images/user.png" width="123" height="123" />
      <div class="grid">
        <app-property-value
          property="Nome"
          value="Ricardo Gonçalves"
        ></app-property-value>
        <app-property-value
          property="CPF/CNPJ"
          value="00000000000"
        ></app-property-value>
        <app-property-value
          property="Data cadastro"
          value="00/00/00"
        ></app-property-value>
        <app-property-value
          property="Status"
          value="Ativo"
        ></app-property-value>
        <app-property-value
          property="Telefone"
          value="(00) 00000-0000"
        ></app-property-value>
        <app-property-value
          property="Email"
          value="mail@email.com"
        ></app-property-value>
        <app-property-value
          property="Assinatura/grupo"
          value="Nome"
        ></app-property-value>
        <app-property-value
          property="Data expiração"
          value="00/00/00"
        ></app-property-value>
      </div>
    </div>
  </app-card-section>

  <app-form-actions> </app-form-actions>
</div>
