@import '../../shared/styles/shared.scss';

.sign-in{
  .header{
    display: flex;
    flex-flow: column;
    gap: 8px;
    margin-bottom: 24px;
    .welcome{
      font-size: calc($font-size + 10px);
      color: $primary;
      font-weight: bold;
    }

    .description{
      font-size: calc($font-size - 2px);
      color: #fff;
    }
  }

  .font {
    color: blue;
  }

  .form{
    font-size: $font-size;
    color: #2398cb;
    margin-bottom: 36px;
  }

  .container_cadastro {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .link_cadastro {
    list-style: none;
  }

  .clique_aqui {
    font-weight: bold;
  }

  .clique_aqui:hover {
    cursor: pointer;
  }
}
