<section class="sign-in">
  <article class="header">
    <p class="welcome">
      <mat-icon
        class="animated-icon"
        color="primary"
        style="vertical-align: middle; margin-right: 8px;"
      >
        waving_hand
      </mat-icon>
      Bem-vindo(a)!
    </p>
    <p class="description">
      Digite as tuas credenciais aqui para logar no sistema
    </p>
  </article>

  <form class="form" [formGroup]="signinForm" >
    <mat-form-field appearance="fill">
      <mat-label class="font">E-mail</mat-label>
      <mat-icon matPrefix color="primary">email</mat-icon>
      <input type="text" matInput formControlName="credential"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label class="font">Senha</mat-label>
      <mat-icon matPrefix color="primary">lock</mat-icon>
      <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password"/>
      <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </mat-form-field>

    <p class="primary">
      <mat-icon
        class="animated-icon"
        color="primary"
        style="vertical-align: middle; margin-right: 8px;"
      >
        help_outline
      </mat-icon>
      Esqueceu a senha de acesso?

      <span
        class="--bold"
        [routerLink]="['../forgot']"
      >
      Clique aqui para redefinir!!
      </span>
    </p>

  </form>
  <app-button
    [fullSize]="true"
    (click)="submit()"
    [disabled]="signinForm.invalid"
  >
    <mat-icon color="white" style="vertical-align: middle; margin-right: 8px;">door_front</mat-icon>
    ENTRAR
  </app-button>


  <app-loading-effect></app-loading-effect>

</section>
