<!--<h2 class="restriction">Efetue o seu cadastro para logar no sistema</h2>-->
<section class="sign-in">
  <article class="header">
    <p class="welcome">
      <mat-icon
        class="animated-icon"
        style="vertical-align: middle; margin-right: 8px;"
      >
        waving_hand
      </mat-icon>
      Bem-vindo(a)!
    </p>
    <p class="description">
      Digite as tuas credenciais aqui para logar no sistema
    </p>
  </article>


  <form class="form" [formGroup]="signinForm" >
    <mat-form-field appearance="fill">
      <mat-label class="font">E-mail</mat-label>
      <mat-icon class="icon-mail" matPrefix>email</mat-icon>
      <input type="text" matInput formControlName="credential" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="font">Senha</mat-label>
      <mat-icon class="icon-password" matPrefix>lock</mat-icon>
      <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password"/>
      <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="font">Papel</mat-label>
      <mat-select [(value)]="selectedRole" required>
        <mat-option value="User">Usuário</mat-option>
        <mat-option value="Admin">Administrador</mat-option>
      </mat-select>
      <mat-icon class="icon-person" matPrefix>person_outline</mat-icon>
    </mat-form-field>

    <p class="primary">
      <mat-icon
        class="animated-icon"
        style="vertical-align: middle; margin-right: 8px;"
      >
        help_outline
      </mat-icon>
      Esqueceu a senha de acesso?
      <span class="bold" [routerLink]="['../forgot']">
        Clique aqui para redefinir!!
      </span>
    </p>
  </form>
  <app-button
    [fullSize]="true"
    (click)="submit()"
    [disabled]="signinForm.invalid || isFormDisabled()"
  >

    ENTRAR
  </app-button>

  <app-loading-effect></app-loading-effect>

</section>
