@import '../../shared/styles/shared.scss';

.restriction {
  color: red;
  font-weight: lighter;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-family:'Times New Roman', Times, serif;
  animation: infiniteZoom 0.4s infinite;
}


@keyframes infiniteZoom {
  70% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.02);
  }
}

.sign-in{
  .header{
    display: flex;
    flex-flow: column;
    gap: 8px;
    margin-bottom: 24px;
    .welcome{
      font-size: calc($font-size + 10px);
      //color: $primary;
      color: #59a0fc;
      font-weight: bold;
    }

    .description{
      font-size: 18px;
      color: #d6d6d6;
      margin-top: 10px;
      margin-bottom: -12px;
      font-family: 'Times New Roman', Times, serif;
    }
  }

  .font {
    color: blue;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
  }

  .form{
    font-size: $font-size;
    color: #2222f6;
    margin-bottom: 36px;
  }

  .icon-mail {
    color: #2331cb;
  }

  .icon-password {
    color: #0b1de7;
  }

  .icon-person {
    color: #0b1de7;
  }

  .container_cadastro {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .link_cadastro {
    list-style: none;
  }

  .clique_aqui {
    font-weight: bold;
  }

  .clique_aqui:hover {
    cursor: pointer;
  }

  .animated-icon {
    display: inline-block;
    animation: shake 1.5s infinite;
    color: #59a0fc;
  }

  .primary {
    color: #59a0fc;
  }

  @keyframes shake {
    0%, 100% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
  }
}
