<form [formGroup]="serviceForm">
  <section class="details">
    <app-card-section text="Informações do serviço">
      <section class="wrapper" body>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Nome Cliente</mat-label>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input id="name" formControlName="cliente" type="text" matInput apenasLetras />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Preço</mat-label>
            <mat-icon matPrefix>money</mat-icon>
            <input id="value" formControlName="value" type="text" matInput />
          </mat-form-field>

          <mat-form-field class="field-image" appearance="outline">
            <mat-label>URL da Imagem</mat-label>
            <mat-icon matPrefix>image</mat-icon>
            <input id="imageUrl" matInput formControlName="imageUrl" type="text" />
          </mat-form-field>

        </div>

        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Serviço</mat-label>
            <mat-icon matPrefix>work</mat-icon>
            <input id="service" formControlName="service" type="text" matInput apenasLetras />
          </mat-form-field>

        </div>

        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-icon matPrefix>info</mat-icon>
            <mat-select formControlName="status" required>
              <mat-option value="pronto">Pronto</mat-option>
              <mat-option value="andando">Em andamento</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
    </app-card-section>

    <div class="buttons">
      <app-form-actions (clickSaveEvent)="onSubmit()"></app-form-actions>
    </div>

  </section>
</form>
