<div class="dashboard">
  <div class="search">
    <app-search
      [(textSearch)]="searchText"
      [useButton]="false"
      [useOptions]="false"
      (filterClick)="onFilterClick()"
      (textSearchChange)="onSearchChange($event)"
      [fullSearch]="false"
    >
    </app-search>
  </div>

  <app-cliente-modal
    *ngIf="isModalOpen && selectedCliente"
    [cliente]="selectedCliente"
    (close)="closeModal()"
  ></app-cliente-modal>


  <mat-form-field appearance="outline" class="custom-select">
    <mat-icon matPrefix class="key_service">key</mat-icon>
    <mat-select [(ngModel)]="selectedServices" multiple (selectionChange)="onSelectionChange($event)">
      <mat-option *ngFor="let service of services" [value]="service">
        {{ service.service }}
      </mat-option>
    </mat-select>
    <mat-label>{{ selectedServicesText }}</mat-label>
  </mat-form-field>

  <div class="cards">
    <app-dashboard-card
      [number]="formatNumber(totalChaveiros)"
      [description]="'Chaveiros cadastrados'"
      [icon]="'key'"
      [iconContainerColor]="'#000000'"
    >
    </app-dashboard-card>
    <app-dashboard-card
      [number]="formatNumber(totalClientes)"
      [description]="'Clientes encontrados'"
      [icon]="'person_outline'"
      [iconContainerColor]="'#000000'"
    >
    </app-dashboard-card>
    <app-dashboard-card
      [number]="(totalRecebido | currency:'BRL') ?? ''"
      [description]="'Preço por serviço'"
      [icon]="'attach_money'"
      [iconContainerColor]="'#000000'"
    >
    </app-dashboard-card>
  </div>


  <div *ngFor="let clienteToast of clientesToasts">
    <app-cliente-toast [cliente]="clienteToast" (remove)="removeCliente(clienteToast)"></app-cliente-toast>
  </div>

  <div class="notification-container">
    <ng-container *ngFor="let notification of notifications">
      <div class="notification" (click)="openOrderDetailsModal(notification.data)">
        <mat-icon>error_outline</mat-icon>
        <span>{{ notification.message }}</span>
      </div>
    </ng-container>
  </div>

</div>
