<div class="dashboard">
  <div class="search">
    <app-search></app-search>
  </div>
  <div class="cards">
    <app-dashboard-card
      [number]="formatNumber(totalChaveiros)"
      [description]="'Chaveiros encontrados'"
      [icon]="'person_outline'"
      [iconContainerColor]="'#004D7C'"
    >
    </app-dashboard-card>
    <app-dashboard-card
      [number]="(totalRecebido | currency:'BRL') ?? ''"
      [description]="'Menor preço'"
      [icon]="'attach_money'"
      [iconContainerColor]="'#004D7C'"
    >
    </app-dashboard-card>
  </div>
</div>
