.actions{
  display: flex;
  justify-content: center;
  height: 20px;
  margin-bottom: 20px;
  gap: 24px;
}

.button_actions {
  transition: transform 0.3s;
}

.button_actions:hover{
  height: 38px;
  transform: scaleX(1.05);
}
