@mixin flex{
  display: flex;
}
@mixin flex-column{
  @include flex;
  flex-direction: column;
}
.upload-container {
  margin-top: -16px;
  margin-bottom: 4px;
  .attach_file {
    color: rgb(255, 255, 255);
    background-color: #0d0dee;
    width: 50px;
    padding: 12px 0 20px 12px;
    height: 50px;
    border-radius: 50%;
  }
  .attach_file:hover {
    background-color: #8cc6ff;
    transition: 0.3s;
  }
  .nomes_imagens {
    font-weight: bold;
  }

  .icone_images {
    margin-top: 110px;
  }
  > .preview-image-upload{
    @include flex-column;
    align-items: center;
    border: 2px dashed #0000ff;
    padding: 30px;
    cursor: pointer;
    position: relative;
    gap: 8px;
    border-radius: 5px;

    > img{
      width: 140px;
    }

    > span{
      font: normal normal 300 18px/20px 'Poppins', 'sans-serif';
      text-align: center;
      font-weight: bold;
    }

    > p{
      text-align: center;
    }

    > input {
      display: none;
    }

    .actions {
      opacity: 0;
      transition: all ease 0.4s;
      cursor: pointer;
      position: absolute;
      align-items: center;
      gap: 10px;
      display: grid;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      justify-items: center;
      &:hover {
        background: #000a;
        opacity: 1;
      }
      > span {
        font: normal normal 300 14px/21px 'Gilroy-Light','sans-serif';
        color: #FFF
      }
    }
  }
  > .check-image-upload > .image-uploaded {
    @include flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    margin-top: 16px;
    min-height: 40px;
    background: #a8a7a7;
    letter-spacing: var(--unnamed-character-spacing-0);
    gap: 8px;

    > span {
      word-break: break-all;
      font: normal normal 300 14px/21px 'Poppins','sans-serif';
    }

    .mat-actions {
      @include flex();
      gap: 4px;
      > .check{
        color: #2d3bff;
        border-radius: 50%;
      }

      > .delete {
        color: #000000;
        border-radius: 50%;
      }
    }
    &:hover{
      cursor: pointer;
    }
    @media (max-width: 768px) {
      @include flex-column;
    }
  }
}
