<div class="modal-container">
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <div class="row col">
      <app-card-section>
        <!-- Dados da empresa -->
        <div class="row items-center">
          <div class="row col gap-8 w-full">
            <h3>Dados do serviço</h3>
            <mat-form-field class="w-full">
              <mat-label>Nome do cliente</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <input
                id="cliente"
                formControlName="cliente"
                type="text"
                matInput
                autocomplete="name"
              />
            </mat-form-field>

            <mat-form-field class="field-image" appearance="outline">
              <mat-label>URL da Imagem</mat-label>
              <mat-icon matPrefix>image</mat-icon>
              <input matInput formControlName="imageUrl" type="text" />
            </mat-form-field>
          </div>
        </div>

        <!-- Outros dados do chaveiro -->
        <div class="row">
          <mat-form-field class="w-full">
            <mat-label>Serviço</mat-label>
            <mat-icon matPrefix>work</mat-icon>
            <input
              id="service"
              formControlName="service"
              type="text"
              matInput
              autocomplete="work"
            />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="w-full">
            <mat-label>Valor</mat-label>
            <mat-icon matPrefix>money</mat-icon>
            <input
              id="value"
              formControlName="value"
              type="text"
              matInput
              autocomplete="value"
            />
          </mat-form-field>

          <mat-form-field class="w-full">
            <mat-label>Status</mat-label>
            <mat-icon matPrefix>info</mat-icon>
            <!--<input id="status" formControlName="status" type="text" matInput autocomplete="status" />-->
            <mat-select formControlName="status">
              <mat-option value="ativo">Disponível</mat-option>
              <mat-option value="inativo">Indisponível</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </app-card-section>

      <button class="save_button" type="submit">Salvar</button>
    </div>
  </form>
</div>
