<h2 class="title_register">Faça o seu cadastro</h2>

<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="voltar">
    <div class="img_voltar">
      <img src="../../../../assets/images/icones/chevron-left-black.svg" alt="" />
    </div>
    <div class="container_texto_voltar">
      <li class="link_voltar">
        <a [routerLink]="['/home/login']"><h5 class="texto_voltar">VOLTAR</h5></a>
      </li>
    </div>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" required />
    <mat-icon class="icon-person" matPrefix>person_outline</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email" type="email" required />
    <mat-icon class="icon-mail" matPrefix>mail</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Senha</mat-label>
    <mat-icon class="icon-password" matPrefix>lock</mat-icon>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" type="password" required />
    <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Papel</mat-label>
    <mat-select formControlName="role">
      <mat-option value="user">Usuário</mat-option>
    </mat-select>
    <mat-icon class="icon-role" matPrefix>verified_user</mat-icon>
  </mat-form-field>

  <!--<mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status" required>
      <mat-option value="ativo">Ativo</mat-option>
      <mat-option value="inativo">Inativo</mat-option>
      <mat-option value="pendente">Pendente</mat-option>
    </mat-select>
  </mat-form-field>-->

  <mat-form-field appearance="outline">
    <mat-label>URL da Imagem</mat-label>
    <input matInput formControlName="imageUrl" />
    <mat-icon class="icon-image" matPrefix>image</mat-icon>
  </mat-form-field>

  <app-file-uploader
    [textDescription]="'Carregue a foto'"
    [fileLength]="1"
    [typeFile]="TypeFile.Imagem"
    (fileChange)="onFileChange($event)"
  ></app-file-uploader>

  <mat-form-field appearance="outline">
    <mat-label>Telefone</mat-label>
    <input matInput formControlName="phone" required />
    <mat-icon class="icon-phone" matPrefix>phone</mat-icon>
  </mat-form-field>

  <button
    mat-raised-button
    type="submit"
  >
    Criar Conta
  </button>
</form>
