/* You can add global styles to this file, and also import other style files */
/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

p, button {
  font-size: 14px;
}

.primary{
  color: #004D7C;
}

.row{
  display: flex;
  gap: 16px;

  &.col{
    flex-flow: column;
  }

  &.gap{
    &-0 {
      gap: 0 !important;
    }

    &-4 {
      gap: 4px !important;
    }

    &-8 {
      gap: 8px !important;
    }

    &-16 {
      gap: 16px !important;
    }

    &-32 {
      gap: 32px !important;
    }
  }

  &.items{
    &-center{
      align-items: center;
    }

    &-start{
      align-items: start;
    }
  }

  &.content{
    &-center{
      justify-content: center;
    }

    &-start{
      justify-content: start;
    }

    &-end{
      justify-content: end;
    }

    &-between{
      justify-content: space-between;
    }
  }
}

.w-full {
  width: 100%;
}
