@import "../../styles/variables.scss";

span {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 18px;
}

.menu {
  background-color: #99ccff;
  color: white;
  position: fixed;
  z-index: 500;

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      > img {
        margin: 10px;
        width: 106px;
        height: 136px;
        object-fit: cover;
      }
    }
  }

  mat-toolbar-row {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.menu-item {
  position: relative;

  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 200px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    button {
      width: 100%;
    }
  }

  &:hover .submenu {
    display: block;
  }
}

button.mat-button {
  color: white;
}

.router-link-active {
  color: #33ff00; // cor de destaque para o item ativo
}

@media (max-width: 1250px) {
  .container {
    flex-direction: column;
  }

  mat-toolbar-row {
    margin: 0 auto;
    align-items: center;
  }
}
