<mat-toolbar class="menu">
  <div class="container">
    <div class="logo">
      <img src="assets/images/keys_logo_2.png">
    </div>

    <mat-toolbar-row>
      <ng-container *ngFor="let menu of menusToShow" [ngTemplateOutlet]="!menu?.childrens ? singleMenu : dropdown" [ngTemplateOutletContext]="{ menu: menu }"></ng-container>
    </mat-toolbar-row>
    <app-toolbar></app-toolbar>
  </div>
</mat-toolbar>

<ng-template #singleMenu let-menu="menu">
  <button mat-button (click)="runEvent(menu)" *ngIf="!menu.childrens; else dropdown" [routerLink]="[menu?.router]" routerLinkActive="router-link-active">
    <mat-icon [ngClass]="{ 'pagamentos-icon': menu.label === 'Pagamentos' }">{{menu.icon}}</mat-icon>
    <span>{{menu.label}}</span>
  </button>
</ng-template>

<ng-template #dropdown let-menu="menu">
  <div class="menu-item" (mouseenter)="showSubmenu = true" (mouseleave)="showSubmenu = false">
    <button mat-button>
      <mat-icon>{{menu.icon}}</mat-icon>
      <span>{{menu.label}}</span>
    </button>
    <div class="submenu" *ngIf="showSubmenu">
      <button mat-menu-item *ngFor="let child of menu.childrens" [routerLink]="[child?.router]" routerLinkActive="router-link-active">
        <span>{{child.label}}</span>
      </button>
    </div>
  </div>
</ng-template>
