<!-- Botão hamburger para telas pequenas -->
<button class="hamburger" (click)="toggleMenu()">
  <mat-icon>menu</mat-icon>
</button>

<!-- Barra de navegação (menu lateral) -->
<app-menu-side-nav
  [menusToShow]="menus"
  [ngClass]="{'menu-open': isMenuOpen}"
>
</app-menu-side-nav>

<div class="content">
  <div class="header">
    <app-bread-crumb
      [title]="title"
      [subtitle]="subtitle"
    >
    </app-bread-crumb>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
